<style>
.homepage {
      margin-top: 60px;
    }
</style>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


<div class="container homepage">
  <div class="row">
    <div class="col-md-12">
      <img src="http://i288.photobucket.com/albums/ll191/shannonhall22/OnGymand%20Big%201_zpsnwf1g08l.png">
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-3">
      <a class="btn btn-warning btn-lg" href="/about" role="button">Learn more</a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-danger btn-lg" href="/gyms" role="button">I am a Gym User</a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-danger btn-lg" href="#" role="button">I am a Gym Owner</a>
    </div>
  </div>
</div>

