
<h3>OnGymand is a fitness start up centered around the business travelers. When you're on the road and you need to get a workout in, you're often limited to whatever facilities are provided by the hotel.
<br>
<br>
Ongymand changes that.
<br>
<br>
We are a web application that allows you to find gyms near you with the exact facilities and equipment you need.
<br>
<br>
Simply log in, select what you're looking for, and receive a list of nearby facilities with daily rates.
<br>
<br>
Quick, convenient, fitness.</h3>
