<img alt="gym" src="https://pbs.twimg.com/profile_banners/3197691397/1431792836/1500x500" height="250" align="center" class="img-responsive">


<h4>OnGymand is a fitness start-up centered around helping business travelers maintain their weekly workout routine without interuption. When you're on the road and you need to get a workout in, you're often limited to whatever facilities are provided by the hotel.
<br>
<br>
<b>OnGymand changes that.</b>
<br>
<br>
We are a web application that allows you to find gyms near you with the exact facilities and equipment you need.
<br>
<br>
Simply log in, select what you're looking for, and receive a list of nearby facilities with daily rates.
<br>
<br>
<b>Quick, convenient, fitness.</b></h4>
